.c-brand-highlight {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &__image {
    height: 120px;
    width: 120px;
  }

  &__label {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  }
}
