.c-card {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
  padding: 1rem 1.5rem;

  &__image {
    height: 115px;
    object-fit: contain;
    width: 148px;
  }

  &--row {
    flex-direction: row;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }
}
