@use '../helpers';

.l-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  padding: helpers.get-var("spacing", 0);
  row-gap: helpers.get-var("spacing", 8);
  column-gap: helpers.get-var("spacing", 12);
}
