@use '../config';

.c-brands-highlight {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  padding: 0;
  column-gap: 12px;
  row-gap: 8px;

  &__card {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3px;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1;
  }

  &__label {
    text-align: center;
    text-transform: uppercase;
  }
}
