@use '../config';
@use '../utilities';

.c-card {
  display: flex;
  flex-direction: row;
  gap: 4px;

  &__image {
    height: 115px;
    object-fit: contain;
    width: 148px;
  }

  &__content {
    gap: 4px;
    flex: 1;
  }

  &--flip {
    flex-direction: row-reverse;
  }
}
