@use '../helpers';

.c-brand-highlight {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: helpers.get-var("sizes", 200);

  &__image {
    width: 100%;
    aspect-ratio: 1;
  }

  &__label {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  }
}
