@use '../helpers';

.c-button {
  --c-button-color-background: #{helpers.get-var("colors", "white")};
  --c-button-color-hover: #{helpers.get-var("colors", "gray")};
  --c-button-color-text: #{helpers.get-var("colors", "black")};
  --c-button-color-border: #{helpers.get-var("colors", "mid-gray")};
  --c-button-padding: #{helpers.get-var("sizes", 200)
    helpers.get-var("sizes", 400)};
  --c-button-border-radius: #{helpers.get-var("sizes", 400)};

  appearance: none;
  cursor: pointer;
  background-color: var(--c-button-color-background);
  color: var(--c-button-color-text);
  text-decoration: none;
  padding: var(--c-button-padding);
  border: 1px solid var(--c-button-color-border);
  border-radius: var(--c-button-border-radius);
  min-width: 16ch;
  text-align: center;

  &:hover {
    background-color: var(--c-button-color-hover);
  }

  &--primary {
    --c-button-color-background: #{helpers.get-var("colors", "orange")};
    --c-button-color-hover: #{helpers.get-var("colors", "orange-shade")};
    --c-button-color-text: #{helpers.get-var("colors", "black")};
    --c-button-color-border: #{helpers.get-var("colors", "orange-shade")};
  }
}
