@use '../config';
@use '../utilities';

.c-button {
  --background: #{config.color("white")};
  --hover: #{config.color("gray")};
  --text: #{config.color("black")};
  --border: #{config.color("mid-gray")};

  @extend .text-base;
  appearance: none;
  cursor: pointer;
  background-color: var(--background);
  color: var(--text);
  text-decoration: none;
  padding-inline: config.spacing(10);
  padding-block: config.spacing("1-5");
  border: 1px solid var(--border);
  border-radius: config.spacing(4);
  text-align: center;
  min-width: 16ch;

  &:hover {
    background-color: var(--hover);
  }

  &--primary {
    --background: #{config.color("orange")};
    --hover: #{config.color("orange-shade")};
    --text: #{config.color("black")};
    --border: #{config.color("orange-shade")};
  }
}
