@use '../helpers/tokens.scss';

.c-card {
  display: flex;
  flex-direction: row;
  gap: tokens.get("sizes", "500");

  &__image {
    height: 115px;
    object-fit: contain;
    width: 148px;
  }

  &__content {
    flex: 1;
  }

  &--flip {
    flex-direction: row-reverse;
  }
}
