@use '../config';
@use '../utilities';

.c-testimonial {
  @extend .stack;
  gap: config.spacing(4);

  &__media {
    width: 300px;
    height: 200px;
  }

  &__content {
    h3 {
      @extend .text-base;
    }
    p {
      @extend .text-sm;
    }
  }
}
