// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #000000;
$white: #ffffff;
$gray: #0E0000;
$gray-mid: #969696;
$gray-light: #e5e5e5;
$gray-lightest: #f3f3f3;
$light-gray: #F4F4F4;
$dark-gray: #C4C4C4;
$light-orange: #ffc09f;
$main-orange: #db8e65;
$light-yellow: #fcf5c7;
$main-yellow: #ffee93;
$light-blue: #a0ced9;
$main-blue: #4f668b;
$light-green: #adf7b6;
