<h1>AddressBusinessHours #show</h1>
<p>Dia da semana: <%= @address_business_hour.day %></p>
<p>Hora inicial: <%= @address_business_hour.open_time %></p>
<p>Hora final: <%= @address_business_hour.close_time %></p>