<h1>AddressContacts #index</h1>
<ul>
    <% @address_contacts.each do |address_contact| %>
        <li> <%= link_to  address_contact.address_contact_type, address_contact_path(address_contact) %> </li>
    <% end %>
</ul>