$margins: (
  "m": "margin",
  "mt": "margin-top",
  "mb": "margin-bottom",
  "ml": "margin-left",
  "mr": "margin-right",
);
$paddings: (
  "p": "padding",
  "pt": "padding-top",
  "pb": "padding-bottom",
  "pl": "padding-start",
  "pr": "padding-right",
);

// Margins
@each $margin, $marginProperty in $margins {
  @each $sizeName, $sizeValue in $sizes {
    .#{$margin}-#{$sizeName} {
      #{$marginProperty}: $sizeValue;
    }
  }
  .#{$margin}-auto {
    #{$marginProperty}: auto;
  }
}

// Paddings
@each $padding, $paddingProperty in $paddings {
  @each $sizeName, $sizeValue in $sizes {
    .#{$padding}-#{$sizeName} {
      #{$paddingProperty}: $sizeValue;
    }
  }
  .#{$padding}-auto {
    #{$paddingProperty}: auto;
  }
}

// Gap
@each $sizeName, $sizeValue in $sizes {
  .gap-#{$sizeName} {
    gap: $sizeValue;
  }
}
