<h1>Línguas</h1>
<ul>
    <% @languages.each do |language| %>
        <li> <%= link_to  language.name, language_path(language) %> </li>
    <% end %>
</ul>

<% if policy(Language).new? %>
    <p><%= link_to "Adicionar nova área", new_language_path %></p>
<% end %>