@use 'sass:map';

$_rubik: "Rubik", sans-serif;
$_karla: "Karla", sans-serif;

$font: (
  "content": $_karla,
  "headings": $_karla,
  "display": $_rubik,
);

$font-weights: 300 400 700;

$font-sizes: (
  "xs": 0.75rem,
  "sm": 0.875rem,
  "base": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
  "4xl": 2.25rem,
  "5xl": 3rem,
);

$line-heights: (
  "xs": 1rem,
  "sm": 1.25rem,
  "base": 1.5rem,
  "lg": 1.75rem,
  "xl": 1.75rem,
  "2xl": 2rem,
  "3xl": 2.25rem,
  "4xl": 2.5rem,
  "5xl": 1,
);

@function font($variant) {
  @return map.get($font, $variant);
}

@function font-size($variant) {
  @return map.get($font-sizes, $variant);
}

@function line-height($variant) {
  @return map.get($line-heights, $variant);
}
