.l-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  padding: 0 1rem;
  place-items: center;

  @each $key, $value in $spacers {
    &--gap-#{$key} {
      gap: $value;
    }
  }
}
