@use 'sass:map';
@use '../config';
@use '../helpers';

$alignments: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "stretch": stretch,
);

$justify: map.merge(
  $alignments,
  (
    "space-between": space-between,
    "space-around": space-around,
  )
);

@include helpers.create-responsive-classes using ($breakpoint) {
  @each $variant, $value in $alignments {
    #{helpers.class-name("align", $variant, $breakpoint)} {
      align-items: $value;
    }
  }

  @each $variant, $value in $justify {
    #{helpers.class-name("align", $variant, $breakpoint)} {
      justify-content: $value;
    }
  }
}
