<div class="container my-3 mx-2">
  <div class="d-flex align-items-center justify-content-end me-3">
    <span class="h2 text-secondary"><i class="fas fa-times"></i></span>
  </div>
  <h2 class="fw-normal">O que você deseja? </h2>
  <form action="">
    <div class="form-group mt-4">
      <input type="text" class="form-control rounded-pill">
    </div>
  </form>

  <div class="modal__menu mt-4">
    <div class="d-flex flex-wrap justify-content-between mx-2">
      <div class="d-inline mx-3">
        <img src="https://picsum.photos/50" alt="options" class="d-block mx-auto rounded-circle">
        <h3 class="h6 fw-light mt-2">CASA</h3>
      </div>

      <div class="d-inline mx-3">
        <img src="https://picsum.photos/50" alt="options" class="d-block mx-auto rounded-circle">
        <h3 class="h6 fw-light mt-2">CARRO</h3>
      </div>

      <div class="d-inline mx-3">
        <img src="https://picsum.photos/50" alt="options" class="d-block mx-auto rounded-circle">
        <h3 class="h6 fw-light mt-2">NEGÓCIOS</h3>
      </div>

      <div class="d-inline mx-3">
        <img src="https://picsum.photos/50" alt="options" class="d-block mx-auto rounded-circle">
        <h3 class="h6 fw-light mt-2">MODA E</h3>
        <h3 class="h6 fw-light mt-1">BELEZA</h3>
      </div>

      <div class="d-inline mx-3">
        <img src="https://picsum.photos/50" alt="options" class="d-block mx-auto rounded-circle">
        <h3 class="h6 fw-light mt-2">SAÚDE</h3>
      </div>

      <div class="d-inline mx-3">
        <img src="https://picsum.photos/50" alt="options" class="d-block mx-auto rounded-circle">
        <h3 class="h6 fw-light mt-2">TECNOLOGIA</h3>
      </div>

    </div>
  </div>
</div>
