<nav class="navbar bg-secondary">
  <div class="container-fluid mx-auto">

    <a class="navbar-brand" href="/">
      <%= inline_svg_tag "logo-engajobs.svg", class: 'img', width: 40 %>
    </a>

      <div class="d-sm-flex align-items-center justify-content-between mt-1">
        <span class="me-2 h2 text-light" id="openModalButton"><i class="fas fa-search"></i></span>
        <span class="me-1 h2 text-light"><i class="fas fa-bars"></i></span>
      </div>
  </div>

</nav>
