/* Families */
$font-family-rubik: 'Rubik', sans-serif;
$font-family-karla: 'Karla', sans-serif;

/* Semantic */
$font-content: $font-family-karla;
$font-headings: $font-family-karla;
$font-display: $font-family-rubik;

/* Map */
$fonts: (
  'content': $font-content,
  'headings': $font-headings,
  'display': $font-display,
);
