<!-- Pages/home -->
<main class="container">
    <section class="hero-banner">
        <h1>Engajobs</h1>
        <p>Conectando pessoas. Abraçando diversidades.</p>
        <%= link_to 'Cadastre-se', new_user_registration_path, class: 'btn btn-primary' %>
    </section>
    <div class="wave-separator"></div>
    <section class="l-stack gap-4 py-3">
        <h2 class="f-2">Nossas bandeiras</h2>
        <div class="l-stack">
            <div class="l-row">
                <img class="w-50" src="" alt="" srcset="">
                <div class="w-75 l-stack gap-2">
                    <h3 class="fs-5">LGBTQIA+</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="l-row l-row--reverse">
                <img class="w-50" src="" alt="" srcset="">
                <div class="w-75 l-stack gap-2">
                    <h3 class="fs-5">Gênero</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="l-row">
                <img class="w-50" src="" alt="" srcset="">
                <div class="w-75 l-stack gap-2">
                    <h3 class="fs-5">Etnia</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="wave-separator wave-separator--flipped"></div>
    <section class="l-stack gap-4 py-3">
        <h2 class="f-2">Quem nos apoia</h2>
        <ul class="l-grid gap-3 list-unstyled">
            <li class="c-brand-highlight l-stack gap-2">
                <img class=" c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack gap-2">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack gap-2">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack gap-2">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack gap-2">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack gap-2">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
        </ul>
        <a href="#" class="btn btn-secondary">Apoie</a>
    </section>
    <section class="l-stack gap-0 py-3">
        <h2 class="f-2 mb-4">Entenda a causa</h2>
        <div class="stack">
            <div>
                <div class="media"></div>
                <h3>Esta é a Fulaninha</h3>
                <p>It's a long established fact that a reader will be distracted</p>
            </div>
            <div>
                <div class="media"></div>
                <h3>Este é o Ciclaninho</h3>
                <p>It's a long established fact that a reader will be distracted</p>
            </div>
        </div>
    </section>
</main>