<!-- Pages/home -->
<main class="container my-4">
    <section>
        <h1>Engajobs</h1>
        <p>Conectando pessoas. Abraçando diversidades.</p>
        <%= link_to 'Cadastre-se', new_user_registration_path, class: 'btn btn-primary' %>
    </section>
    <section>
        <h2>Nossas bandeiras</h2>
        <div>
            <img src="" alt="" srcset="">
            <div>LGBTQIA+</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
        <div>
            <img src="" alt="" srcset="">
            <div>Gênero</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
        <div>
            <img src="" alt="" srcset="">
            <div>Etnia</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
    </section>
    <section>
        <h2>Quem nos apoia</h2>
        <ul>
            <li>
                <div>
                    <img src="" alt="">
                    <span>Marca</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                    <span>Marca</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                    <span>Marca</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                    <span>Marca</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                    <span>Marca</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                    <span>Marca</span>
                </div>
            </li>
        </ul>
        <a href="#" class="btn btn-secondary">Apoie</a>
    </section>
    <section>
        <h2>Entenda a causa</h2>
        <div>
            <div class="media"></div>
            <h3>Esta é a Fulaninha</h3>
            <p>It's a long established fact that a reader will be distracted</p>
        </div>
        <div>
            <div class="media"></div>
            <h3>Este é o Ciclaninho</h3>
            <p>It's a long established fact that a reader will be distracted</p>
        </div>
    </section>
</main>