<!-- Pages/home -->
<main>
    <section class="c-hero-banner">
        <h1>Engajobs</h1>
        <p>Conectando pessoas. Abraçando diversidades.</p>
        <%= link_to 'Cadastre-se', new_user_registration_path, class: 'btn btn-primary' %>
    </section>
    <div class="c-wave-separator"></div>
    <section class="l-stack">
        <h2 class="">Nossas bandeiras</h2>
        <div class="l-stack">
            <div class="c-card c-card--row">
                <img class="c-card__image" src="" alt="" srcset="">
                <div class="l-stack">
                    <h3 class="">LGBTQIA+</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="c-card c-card--row-reverse">
                <img class="c-card__image" src="" alt="" srcset="">
                <div class="l-stack">
                    <h3 class="">Gênero</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="c-card c-card--row">
                <img class="c-card__image" src="" alt="" srcset="">
                <div class="l-stack">
                    <h3 class="">Etnia</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="c-wave-separator c-wave-separator--flipped"></div>
    <section class="l-stack">
        <h2 class="">Quem nos apoia</h2>
        <ul class="l-grid">
            <li class="c-brand-highlight l-stack">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
            <li class="c-brand-highlight l-stack">
                <img class="c-brand-highlight__image" src="" alt="">
                <span class="c-brand-highlight__label">Marca</span>
            </li>
        </ul>
        <a href="#" class="btn btn-secondary">Apoie</a>
    </section>
    <section class="l-stack">
        <h2 class="">Entenda a causa</h2>
        <div class="stack">
            <div>
                <div class="media"></div>
                <h3>Esta é a Fulaninha</h3>
                <p>It's a long established fact that a reader will be distracted</p>
            </div>
            <div>
                <div class="media"></div>
                <h3>Este é o Ciclaninho</h3>
                <p>It's a long established fact that a reader will be distracted</p>
            </div>
        </div>
    </section>
</main>