<h1>Areas</h1>
<ul>
    <% @areas.each do |area| %>
        <li> <%= link_to  area.name, area_path(area) %> </li>
    <% end %>
</ul>

<% if policy(Area).new? %>
    <p><%= link_to "Adicionar nova área", new_area_path %></p>
<% end %>