@use '../helpers';

body {
  font-family: helpers.get-var("font", "content");
  background-color: helpers.get-var("color", "white");
  color: helpers.get-var("color", "black");
}

h1,
h2 {
  font-family: helpers.get-var("font", "display");
}
