@use '../config';
@use '../utilities';

.c-home-section {
  --c-background: $light-orange;
  --c-separator: $gray-lightest;

  gap: 12px;
  overflow: hidden;
  position: relative;
  padding: 6px 4px;
  background-color: var(--c-background);

  &::after {
    content: "";
    height: 36px;
    display: block;
    background-color: var(--c-separator);
    position: relative;
    margin-top: -3rem; // We need to compensate for the flex gap;
    bottom: 6px;
    margin-inline: 6px;
    transform: rotate(180deg);
    -webkit-mask-image: url("wave-separator.svg");
    mask-image: url("wave-separator.svg");
  }

  &__container {
    gap: 10px;
  }

  &__title {
    font-weight: 400;
  }

  &:nth-child(even) {
    --c-background: $light-orange;
    --c-separator: $gray;
  }

  &:last-child::after {
    display: none;
  }
}
