.navbar-background {
  justify-content: space-between;
  background: $main-color;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.navbar .img {
  width:50px
}

.navbar-text {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px darkgrey;
}