@use '../config';
@use '../utilities';

.c-brands-highlight {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  padding: config.spacing(0);
  column-gap: config.spacing(12);
  row-gap: config.spacing(8);

  &__card {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: config.spacing(3);
  }

  &__image {
    width: 100%;
    aspect-ratio: 1;
  }

  &__label {
    @extend .text-sm;
    text-align: center;
    text-transform: uppercase;
  }
}
