@use 'sass:map';
@use '../helpers';
@use './spacing';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.container {
  padding-inline: helpers.get-var("spacing", 8);
  max-width: helpers.get-var("bp-width", "xxl");
  width: 100%;
  margin: 0 auto;

  @include helpers.mq("lg") {
    padding-inline: helpers.get-var("spacing", 12);
  }
}
