@use 'sass:map';
@use '../config';
@use '../helpers';

$utils: (
  m: "margin",
  mt: "margin-top",
  mb: "margin-bottom",
  ml: "margin-left",
  mr: "margin-right",
  mx: "margin-inline",
  my: "margin-block",
);

$variants: map.merge(
  config.$spacing,
  (
    "auto": auto,
  )
);

@include helpers.create-responsive-classes using ($breakpoint) {
  @each $variant, $value in $variants {
    @each $name, $property in $utils {
      #{helpers.class-name($name, $variant, $breakpoint)} {
        #{$property}: $value;
      }
    }
  }
}
