@use 'sass:map';
@use '../config';
@use '../helpers';

$utils: (
  p: "padding",
  pt: "padding-top",
  pb: "padding-bottom",
  pl: "padding-left",
  pr: "padding-right",
  px: "padding-inline",
  py: "padding-block",
);

@include helpers.create-responsive-classes using ($breakpoint) {
  @each $variant, $value in config.$spacing {
    @each $name, $property in $utils {
      #{helpers.class-name($name, $variant, $breakpoint)} {
        #{$property}: $value;
      }
    }
  }
}
