@use '../helpers/utilities';
@use '../helpers/tokens';

@include tokens.create-utilities(
  "sizes",
  (
    p: "padding",
    pt: "padding-top",
    pb: "padding-bottom",
    pl: "padding-left",
    pr: "padding-right",
    px: "padding-inline",
    py: "padding-block",
  )
);

$margins: (
  auto: auto,
  none: 0,
);

@include utilities.create-variants(
  $margins,
  (
    m: "margin",
    mt: "margin-top",
    mb: "margin-bottom",
    ml: "margin-left",
    mr: "margin-right",
  )
);

@include tokens.create-utilities(
  "sizes",
  (
    "gap": gap,
    "gap-row": row-gap,
    "gap-column": column-gap,
  )
);
