@use 'sass:map';
@use '../config';
@use '../helpers';

$alignments: center, left, right, justify;

$transforms: uppercase lowercase;

@include helpers.create-responsive-classes using ($breakpoint) {
  @each $variant, $value in config.$font-sizes {
    #{helpers.class-name("text", $variant, $breakpoint)} {
      font-size: config.font-size($variant);
      line-height: config.line-height($variant);
    }
  }

  @each $variant in $alignments {
    #{helpers.class-name("text", $variant, $breakpoint)} {
      text-align: $variant;
    }
  }

  @each $variant in $transforms {
    #{helpers.class-name("text", $variant, $breakpoint)} {
      text-transform: $variant;
    }
  }
}
