<h1>Provider Specialities for <%= @public_profile.name %></h1>
<ul>
    <% if @provider_specialities.size > 0 %>
        <% @provider_specialities.each do |provider_speciality| %>
            <li> <%= link_to  provider_speciality.speciality.name, provider_speciality_path(provider_speciality) %> </li>
        <% end %>
    <% else %>
    <p><%= "Esse perfil ainda não possui nenhuma especialidade!" %></p>
    <% if policy(ProviderSpeciality).new? %>
        <%= link_to "Adicionar nova especialidade", new_public_profile_provider_speciality_path(@public_profile) %>
    <% end %>
<% end %>
</ul>